[Desktop Entry]
Name=Unveiler
Comment=Browse and extract archives
Exec=unveiler %U
Icon=org.gnome.FileRoller
Terminal=false
Type=Application
Categories=Utility;Archiving;GTK;
MimeType=application/zip;application/x-7z-compressed;application/x-tar;application/gzip;application/x-bzip2;application/x-xz;application/x-rar;application/x-iso9660-image;application/x-cab;application/x-cpio;application/x-rpm;application/x-deb;application/x-lzma;application/zstd;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-xz-compressed-tar;application/x-zstd-compressed-tar;application/x-lzh-compressed;application/x-arj;application/x-apple-diskimage;application/vnd.ms-wim;application/x-lha;
